a {
    background-image: url("../Images/Link-icon.webp");
    background-position: left;
    background-size: 10px, 10px;
    background-origin: border-box;
    background-repeat: no-repeat;
    padding-left: 12px;
}