body {
    margin-top: 10px;
    font-family: Arial, sans-serif;
}

div.omranding {
    border: lightgray 5px solid;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
    height: 100px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

.colorDemo {
    width:100px;
    height:90px;
    border:1px solid black;
    text-align: center;
    margin: 5px 5px;
}

p {
    margin: 2px;
}