body{
    max-width: 1600px;
    margin: auto;
    background-color: darkgrey;
}

.container{
    background-color: gray;
}

#Person{
    background-color: gray;
    margin-bottom: 10px;
    padding-bottom:5px
}

#Person div{
    display:flex;
}

ul li{
    list-style: none;
}

