header.upper > h1 {
    font-family: Arial, serif;
    font-size: 3em;
    color: white;
    background-image: url("../Images/header.jpg");
    background-repeat: no-repeat;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 0;
}
nav.green > a{
    color: limegreen;
    text-decoration: none;
}
nav{
    background-color: rgb(53,56,56);
    padding: 5px;
}
body{
    margin: auto;
    width: 1200px;
}
h1{
    font-family: Arial,serif;
    font-size: 2em;
    text-decoration: underline;
}
article{
    background-color: lightgray;
    padding: 1px;
    margin: 10px;
}

