.checked {
    background-image: url("../Images/check-box-with-check_2611-fe0f.jpg");
    background-size: 10px, 10px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 13px;
}
ul.checklist {
    list-style: none;
}
li {
    background-image: url("../Images/800px-U+2610.svg.png");
    background-size: 12px, 12px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 14px;
}