.checked {
    background-image: url("../Images/Checked box.png");
    background-size: 10px, 10px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 13px;
}
ul.checklist {
    list-style: none;
}
li {
    background-image: url("../Images/Unchecked box.png");
    background-size: 12px, 12px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 14px;
}