body {
    font-family: Helvetica, serif;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
}
header > h1, header > h2, footer > h2{
    color: #EDF2F4;
}
header, footer, main > section {
    padding: 30px;
}
a {
    color: #EF233C;
}
header > p, footer > p {
    color: #8D99AE;
}
header, footer {
    background-color: #2B2D42;
}
main > section {
    background-color: #8D99AE;
}
header {
    margin-bottom: 10px;
}
footer {
    margin-top: 10px;
}