body {
    font-family: Arial, Helvetica, serif;
    width: 90%;
    margin: 0 auto;
}

header {
    margin-top: 5px;
    background-color: #0070A8;
    border-radius: 20px;
    color: white;
}
img {
    border-radius: 25%;
    size: 40px;
}
h1 {
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-size: 6em;
    padding-top: 30px;
}
#friends {
    background-color: #0070A8;
    color: white;
    border-radius: 20px;
    margin-top: 5px;
}
#likes {
    margin-top: 5px;
    background-color: #0070A8;
    color: white;
    border-radius: 20px;
}
#friends > h2 {
    text-align: center;
}

#info {
    background-color: #EDF2F4;
    border-radius: 10px;
    padding-bottom: 40px;
}

#info > h2 {
    padding: 0 30px 10px 80px;
}

#hobbies {
    background-color: white;
    padding: 0 30px 40px 0;
    margin-top: 5px;
    border-radius: 20px;
}

#hobbies > h3 {
    padding-left: 20px;
    font-size: 1.5em;
}

#gamen {
    background-color: #0070A8;
    color: white;
    border-radius: 10px;
}

#basket {
    background-color: #0070A8;
    color: white;
    border-radius: 10px;
}

#party {
    background-color: #0070A8;
    color: white;
    border-radius: 10px;
}

#programming {
    background-color: #0070A8;
    color: white;
    border-radius: 10px;
}

#aboutme {
    background-color: white;
    padding: 0 30px 40px 0;
    border-radius: 20px;
}

#aboutme > h3 {
    padding-left: 20px;
    font-size: 1.5em;
}