h1, h2, h3{
    font-family: Helvetica;
}

h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
}
header h1, header h2{
    color: #EDF2F4;
}
header, footer, main{
    padding: 30px;
}
a:link{
    color: #EF233C;
}
header, footer{
    color: #8D99AE;
    background-color: #2B2D42;
    margin: 10px;
}
main{
    background-color: #8D99AE;
}
header{
    margin-bottom: auto;
}
footer{
    margin-bottom: auto;
}