header {
    display: flex;
    justify-content: center;
    background-color: #2B2D42;
    color: white;
    margin: 0 auto;
}

body {
    margin: 0 auto;
    font-family: Arial, serif;
}

div {
    display: flex;
    justify-content: center;
}

li {
    font-size: 2em;
    line-height: 2em;
    list-style: none;
    text-align: center;
}

li > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: red;
}